@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTUC@8..144,80,100..1000,96,475,79,760,-270,660,655&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --nav-height-extent: 2rem;
    --nav-margin: 15px;

    /* color palletes */
    --color-p-1: #00B9DC;
    --color-p-2: #F39739;
    --color-p-3: #3C4C53;
    --color-p-4: #858188;
    --color-p-5: #921120;

    /* text properties */
    --main-color-font: #000;
    --space-grotesk: "Space Grotesk", Arial, Helvetica, sans-serif;
    --header-font: var(--space-grotesk);

    /* welcome banner properties */
    --wc-banner-bg: var(--color-p-3);
    --wc-banner-height: 12rem;
    --wc-banner-padding-block: 30px;

    /* footer properties */
    --footer-bg: #333;
    --footer-font-color: #fff;
    --footer-height: 1.2em;
    --footer-linkdisplay-space-offset: 2em;


    /* font property for Roboto Flex */
    --roboto-flex-variation: "slnt" 0,
        "wdth" 80,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 475,
        "YOPQ" 79,
        "YTAS" 760,
        "YTDE" -270,
        "YTFI" 660,
        "YTLC" 500,
        "YTUC" 655;
}

* {
    color: var(--main-color-font);

    /* default font appearance: font variables*/
    font-family: "Roboto Flex", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: var(--roboto-flex-variation);
}

/* COMMON ELEMENTS */

/* headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    font-weight: 700;
    /* font-variation-settings: var(--roboto-flex-variation), "wdth" 100, "YTDE" -180; */

    &.centre-hd {
        text-align: center;
    }
}

strong {
    font-weight: 700;
}

/* button property */
button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 0.2rem 1.2rem;
    margin: 0.5rem 0;
    position: relative;

    transition: color 0.2s ease-out;
    z-index: 0;

    &::before,
    &::after {
        content: "";
        left: 0;
        right: 0;
        bottom: -0.25em;
        top: 100%;
        position: absolute;
        z-index: -1;

        transition: all 0.2s ease-out;
    }

    /* an invisible line under the text, but visible at hover */
    &::before {
        background-color: transparent;
        z-index: 0;
    }

    /* a line under the text, major fill color at hover with transition */
    &::after {
        background-color: #222;
    }
}

button:hover {
    color: white;
    cursor: pointer;

    /* a line under the text from ::before will be visible at hover */
    &::before {
        background-color: #041d34;
    }

    /* from line to a fill trait as the point of major fill color of ::after at hover */
    &::after {
        background-color: #014179;
        top: 0;
    }
}

.grid {
    display: grid;
}

/* thematic break */
hr {
    margin-block: 5rem;
}

/* image fixed aspect */
img.fixed-asp {
    object-fit: cover;
    object-position: center;

    width: 100%;
    height: 100%;
}

html {
    font-size: 1.2rem;
    scroll-behavior: smooth;
    background-color: rgb(244, 255, 253);
}

body {
    /* set the margin to 0 for <body> */
    margin: 0;
}

/* <header> is treated as navigational bar
    and will stay at the top when the
    user scrolls on their screen. */
header {
    --nav-text-color: var(--main-color-font);
    --nav-text-color-active: #ffffff;

    align-items: center;
    /* box-shadow: 0 0.1rem 6px #000; */
    display: flex;
    font-size: 1rem;
    height: var(--nav-height-extent);
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    left: 0;
    right: 0;
    transition: background-color 0.2s ease;
    z-index: 5999;

    /* the company name */
    h1.company-name {
        color: var(--nav-text-color);
        font: 800 1.5em var(--space-grotesk);
        letter-spacing: 0.12em;

        transition: color 0.25s ease;
    }

    &#blackkey-contrast {
        --nav-text-color: #ffffff;
        background-color: #000000;
    }

    /* icon inversion colour */
    &#blackkey-contrast nav + #hamburger-menu img {
        filter: invert(1);
    }
}

nav {
    /* lists of links */
    ul {
        display: inline-flex;
        gap: 2rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /* styles of lists inside <ul> */
    ul li {
        text-wrap: nowrap;

        /* button links */
        a {
            color: var(--nav-text-color);
            font-size: 1.1em;
            font-variation-settings: var(--roboto-flex-variation);
            font-weight: 400;
            padding-inline: 1rem;
            position: relative;
            text-decoration: none;
            transition: all 0.25s ease;
        }

        a.active {
            color: var(--nav-text-color-active);
            font-weight: 800;

            &:hover::after {
                filter: brightness(0.3);
            }

            &#home::after {
                background-color: #c0670e;
            }
            &#blogs::after {
                background-color: #08a53a;
            }
            &#signup::after {
                background-color: #09b0bc;
            }
            &#contact::after {
                background-color: #d11616;
            }

            &::after {
                filter: none;
                left: 0;
                right: 0;
                top: -0.25em;
            }
        }

        /* hover effect with ::before pseudo */
        a::after {
            content: "";
            background-color: var(--color-p-5);
            position: absolute;
            left: 50%;
            right: 50%;
            top: 100%;
            bottom: -0.25em;
            z-index: -1;
            transition: all 0.2s ease-out;
        }

        /* a:hover {
            font-weight: 800;
            font-variation-settings: var(--roboto-flex-variation), "wdth" 100, "xtra" 500;
        } */

        a:hover::after {
            left: 0;
            right: 0;
        }
    }
}

/* button of hamburger menu: hidden at laptop screen orientation */
nav + #hamburger-menu {
    display: none;
}

main {
    /* set the extra spacing at the top */
    --main-padding-block: calc(var(--nav-height-extent) + calc(var(--nav-margin) * 2));
    padding-block: var(--main-padding-block);
    min-height: calc(90vh - var(--main-padding-block));
}

article {
    padding-inline: 24px;
}

.integration-info.grid {
    --text-symbol-extent: calc(3vw + 1em);
    --text-p-extent: calc(0.8vw + 1em);

    gap: 1em;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    margin: 2%;

    h2 {
        grid-area: 1 / 1 / span 1 / span 3;
    }

    >.item-box-definition {
        display: block;
        text-align: center;

        p.key-item {
            font-size: clamp(0.5rem, var(--text-p-extent), 3rem);
            font-family: var(--space-grotesk);
            font-weight: 300;
            margin-block: 0.4em;
        }

        span {
            font-size: clamp(0.5rem, var(--text-symbol-extent), 3rem);
        }
    }
}


.sec-card {
    /* background-color: aqua; */
    display: flex;
    font-size: clamp(0.75rem, 2vw, 1rem);
    gap: 2em;
    justify-content: space-between;
    padding-block: 1.5rem;
    width: fit-content;
    align-content: center;

    span.top-legend {
        font-weight: 200;
    }

    >* {
        width: 50%;
    }

    img {
        /* both width and height are the same via var(), no stretched or irregular extent at square. */
        --img-extent: 10em;
        width: var(--img-extent);
        height: var(--img-extent);

        &.drop-shadow-efx {
            box-shadow: 1rem 1rem 0 rgb(40, 43, 46);
        }
    }

    /* basic special effects on headings on image hover */
    img:hover+div {

        h1,
        h2 {
            background-color: #222;
            color: #fff;
            letter-spacing: 0.03em;
        }
    }

    h1,
    h2 {
        background-color: transparent;
        color: inherit;
        margin-block: 0.5rem;
        letter-spacing: 0em;
        transition: color 0.5s ease, letter-spacing 0.5s ease, background-color 0.2s ease;
    }

    p {
        font-size: 1em;
        font-variation-settings: var(--roboto-flex-variation), "YTDE" -200;
    }

    /* customised ordered number element */
    ol {
        /* set the original counter into specialised counter */
        list-style: none;
        counter-reset: custom-counter;
        padding-left: 1em;

        li {
            counter-increment: custom-counter;
            font-weight: 400;

            /* counters without the dot and lightweighted */
            &:before {
                content: counter(custom-counter);
                font-weight: 250;
                padding-right: 1em;
            }
        }
    }
}

section.legend {
    background-color: var(--wc-banner-bg);
    height: var(--wc-banner-height);
    padding: var(--wc-banner-padding-block) calc(var(--wc-banner-padding-block) - 5px);
    text-align: right;
    align-content: end;

    * {
        color: #fff;
    }

    h1 {
        font-size: 3.25rem;
        margin-block: 0;
    }

    p {
        font-size: 1.2rem;
    }
}

section.proposal-card {
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    gap: 1.7rem;
    /* justify-items: center; */
    justify-content: center;
}

/* subscription card */
section.subscription-plans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 5%;

    .cc-account {
        opacity: 1;
        transition: opacity 400ms ease;
    }

    &:has(.disclosed) .cc-account {
        opacity: 0;
    }

}

section.subscription-plans .cc-account {
    text-align: center;
}

section.subscription-plans #subscription-banner {
    --s-card-border-radius: 1em;
    --s-card-bg-special: #000159cc;
    --s-card-preferred-font-size: 2vw;

    --s-card-standard: none;
    --s-card-starter: #e19912;
    --s-card-essentials: #0feb1a;
    --s-card-ultimate: #6d009c;

    display: inherit;
    font-size: clamp(0.5rem, var(--s-card-preferred-font-size), 1.125rem);
    justify-content: space-between;
    position: relative;

    .sub-card {
        --s-drop-shadow: 0 0.3em 20px #000000aa;

        background-color: #ffffff;
        border-radius: var(--s-card-border-radius);
        box-shadow: var(--s-drop-shadow);
        min-height: 20em;
        position: inherit;
        width: 13em;

        .card-plan {
            --s-card-padding: 2.5em;
            /* background-color: rgb(0, 247, 255); */
            border-radius: var(--s-card-border-radius) var(--s-card-border-radius) 0 0;
            padding-block: var(--s-card-padding);

        }
        
        h3, .type-plan {
            margin-block: 0;
            text-align: center;
        }

        h3 {
            font-size: 2em;
            font-weight: 700;
            letter-spacing: 0.05em;
        }

        /* for billing date from h3 */
        h3 span {
            font: 400 0.5em var(--space-grotesk);
        }
        
        .type-plan {
            display: block;
            font-size: 1.2em;
        }
        
        ul {
            padding-inline: 15% 5%;
        }

        ul li {
            font-size: 0.9em;
            font-weight: 600;
            margin-block: 6%;
            letter-spacing: 0.015em;
            padding-inline: 0;
            /* font-family: var(--space-grotesk); */
        }
    }

    /* Varied plan styling such as starter, essentials, and ulimate. */
    .sub-card {
        &.starter {
            --s-bill-color: var(--s-card-starter);
            background-color: #ffffff;
        }
        
        &.essentials {
            .card-plan {
                background-color: var(--s-card-essentials);
            }
        }
        
        &.ultimate {
            --s-bill-color: var(--s-card-ultimate);
        }
        
        .card-plan h3 {
            color: var(--s-bill-color);
        }
    }

    .sub-card {
        --s-card-offset-x-step: -6.5em;
        --s-card-scale-step: 0.08;
        
        &.stacked-under {
            position: absolute;

            /* from descending to ascending order for :nth-child,
               from ascending to descending order for operands */
            &:nth-child(2) {
                transform: translateX(calc(var(--s-card-offset-x-step) * 1));
                scale: calc(1 - (var(--s-card-scale-step) * 1));
            }
            &:nth-child(1) {
                transform: translateX(calc(var(--s-card-offset-x-step) * 2));
                scale: calc(1 - (var(--s-card-scale-step) * 2));
            }

            /* https://www.cssportal.com/css-cubic-bezier-generator/ */
            transition: scale 0.8s cubic-bezier(0.00, 0.88, 0.10, 1.00),
                transform 0.8s cubic-bezier(0.00, 0.00, 0.07, 0.96);
        }
    }

    &.disclosed {
        .sub-card {
            --s-card-offset-x-step: -15em;
            --s-card-scale-step: 0.02;
        }

        .sub-card.stacked-under {
            transition: scale 0.8s cubic-bezier(0.75, 0.02, 0.72, 0.90),
                transform 0.8s cubic-bezier(0.00, 0.00, 0.07, 0.96);
        }
    }

    .sub-card.popular {
        --s-card-glass-efx: blur(20px) saturate(180%) contrast(60%);

        background-color: var(--s-card-bg-special);
        border: 0.1em solid rgba(82, 5, 88, 0.55);
        box-shadow: var(--s-drop-shadow),
            inset 0.2em 0.2em 1em #ffffff77,
            inset -0.2em -0.2em 1em #00000077;

        /* glass effects */
        backdrop-filter: var(--s-card-glass-efx);
        -webkit-backdrop-filter: var(--s-card-glass-efx);
        
        .card-plan {            
            * {
                color: #ffffff;
            }
        }
        
        ul li {
            color: #ffffff;
        }
    }
}

/* for 404 html styling */

main:has(.middle-form-flex) {
    align-items: center;
    display: flex;
    justify-content: center;
}

.middle-form-flex {
    align-items: center;
    border: 0.15rem solid transparent;
    border-top-color: #00000055;
    border-bottom-color: #00000055;
    display: flex;
    font-size: clamp(0.5rem, 3vw, 1.2rem);
    gap: 2rem;
    justify-content: center;
    padding-block: 3em;

    /* the graphic drop shadows for the numeral "404" */
    #sfx-orb {
        font-size: 4em;
        margin: 0;
        text-shadow: 0.033em 0.033em 0.005em var(--color-p-3),
            0.067em 0.067em 0.01em var(--color-p-1),
            /* 0.1em 0.1em 0 var(--color-p-2), */
            -0.033em -0.033em 0.005em var(--color-p-4),
            -0.067em -0.067em 0.01em var(--color-p-2);
    }

    p {
        font: 400 1.1em var(--space-grotesk);
    }
}

/* BLOG MENU IN GRIDS */
/* section.blog-menu {
} */

section.blog-menu .post-navigation {
    font-size: clamp(0.5rem, 1.95vw, 2rem);

    gap: 1rem;
    grid-template-columns: repeat(3, 15em);
    /* grid-auto-rows: 25em; */
    justify-content: center;
    padding: 1%;

    /* blocks for blog content */
    .blog-blocks {
        --blog-border-r-container: 1em;
        --blog-padding: 1em;
        --blog-cover-height: 14em;

        border-radius: var(--blog-border-r-container);
        box-shadow: 0 1em 15px #00000044;
        display: flex;
        flex-direction: column;
        overflow: hidden; /* cover clipped and avoids the overflow */
        /* padding: 0.75em; */
    }

    .blog-blocks.extends {
        grid-column-end: span 2;
    }
    
    .blog-blocks.swiper {
        width: 100%;
        
        .inner-subject {
            backdrop-filter: var(--blog-holder-glass-efx);
            -webkit-backdrop-filter: var(--blog-holder-glass-efx);
            background-color: #71717141;
            padding-block: 0.3em;
            width: 100%;
        }

        .inner-subject .blog-tags {
            span.profile:has(+ span:not(.profile)) {
                --profile-margin-right: 1em;
                --profile-bullet-offset: calc(var(--profile-margin-right) / 1.2);

                margin-right: var(--profile-margin-right);

                &::after {
                    content: "•";
                    /* background-color: #ffffff; */
                    position: absolute;
                    right: calc(-1 * var(--profile-bullet-offset));
                }
            }
        }

        .icon {
            background-color: #00000050;
            
            svg {
                width: 0.8em;
                filter: invert(1);
            }
        }

        .swiper-pagination {
            bottom: 0.2em;
        }
    }
    
    .blog-blocks img {
        --blog-img-container-extent: 25vw;
        
        align-self: center;
        /* scaled and best fit for image on any size*/
        filter: none;
        scale: 1;
        transition: filter 0.4s ease, scale 0.4s ease;
    }
    
    /* the cover of the image and text contents inside it */
    .blog-blocks .card-cover {
        border-radius: var(--blog-border-r-container);
        height: var(--blog-cover-height);
        position: relative;
        
        /* This is the holder of the overall context such as title and the brief information within it. */
        .inner-subject {
            --blog-holder-glass-efx: blur(3px) saturate(180%);
            --blog-holder-text-context: #ffffff;
            --blog-tags-glass-efx: var(--blog-holder-glass-efx);

            color: var(--blog-holder-text-context);
            position: absolute;
            bottom: 0;

            > div {
                padding-inline: 0.8em;
            }

            .blog-tags, .title-heading, .overview-disclose {
                color: inherit;
            }
        }

        /* tags of the blogs */
        .inner-subject .blog-tags {
            font-size: 0.8em;
            margin-block: 0.7em;
        }

        .inner-subject .blog-tags span, .inner-subject .blog-tags span.profile, .inner-subject > .title-heading span.profile {
            backdrop-filter: var(--blog-tags-glass-efx);
            -webkit-backdrop-filter: var(--blog-tags-glass-efx);
            background-color: #72727233;
            color: inherit;
            border-radius: 0.4em;
            padding: 0.15em 0.5em;
            transition: background-color 0.4s ease, color 0.4s ease;
        }

        .inner-subject .title-heading {
            padding-block-end: 0.8em;

            h2 {
                color: inherit;
                font-size: 1.8em;
                margin: 0;
                text-shadow: 0.05em 0.05em 0 #cfcfcf99;
                vertical-align: bottom;
                -webkit-text-stroke: 0.03em #000;

                transition: font-size 0.4s ease;
            }
        }

        /* brief information about the blog; effect and show on hover */
        .inner-subject .overview-disclose {
            border-top: 0.1em solid #ffffffbb;
            backdrop-filter: var(--blog-holder-glass-efx);
            -webkit-backdrop-filter: var(--blog-holder-glass-efx);
            background-color: #dadada99;
            color: #000000;
            max-height: 0;
            padding-block: 0;
            transform: translateY(0.25em);

            transition: all 0.4s ease;
            
            * {
                color: inherit;
            }

            p {
                margin-block: 0.3em;
                font-weight: 200;
            }

            span.profile {
                font-size: 0.7em;
            }

        }
    }

    .blog-blocks:hover {
        cursor: pointer;

        img {
            filter: saturate(300%) contrast(70%);
        }
        
        &:not(.swiper) img {
            scale: 1.1;
        }
    }

    .blog-blocks:hover:not(.extends) .card-cover{
        .inner-subject .blog-tags span {
            background-color: #dadada99;
            color: #000000;
        }
        
        .inner-subject .overview-disclose { 
            max-height: 5.5em;
            padding-block: 0.9em;
            transform: none;
        }

        .inner-subject .title-heading h2 {
            font-size: 1.5em;
        }
    }
}

/* sign up boards */
section.sign-up-board {
    margin-block: 2em;
}

section.sign-up-board .sign-up-flex {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-evenly;
}

section.sign-up-board .sign-up-block.info-persuasive {
    background-color: var(--color-p-3);
    border: 0.5em solid #000000;
    box-shadow: 1em 1em 0 #1717179e;

    /* link attribute */
    a.img-attribute {
        background-color: #000000;
        color: #ffffff;
        font-size: 80%;
        font-weight: 200;
        margin: 0.5em;
        padding: 0.2em 0.5em;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

section.sign-up-board .sign-up-block {
    align-content: center;
    width: 14em;
    height: 21em;
    position: relative;

    form {
        display: block;
        text-align: center;
    }

    form section.form-block {
        display: flex;
        flex-direction: column;
    }

    form section.form-block > label {
        font: 600 0.75em var(--space-grotesk);
        text-align: left;

        &:hover + input {
            background-color: var(--form-input-bg);
        }
    }

    form section.form-block > input {
        --form-input-bg: #bcfff9;
        --form-font-weight: 600;
        --form-box-shadow-offset: 0.2em 0.2em 0;

        /* input with type of text and password */
        &[type="text"], &[type="password"] {
            border-radius: 0;
            border: 0.15em solid #000000;
            box-shadow: var(--form-box-shadow-offset) #222222;
            font-size: 0.85em;
            font-variation-settings: var(--roboto-flex-variation), "YTDE" -200;
            font-weight: var(--form-font-weight);
            margin-block: 0.2em 0.8em;
            outline: none;
            padding: 0.2em;
            scale: 1;
            transition: box-shadow 150ms ease,
                scale 150ms ease,
                background-color 150ms ease,
                color 150ms ease;
            width: auto;

            /* text placeholder */
            &::placeholder {
                color: #333333;
                font-weight: calc(var(--form-font-weight) / 2);
            }

            &:hover {
                background-color: var(--form-input-bg);
            }

            &:focus {
                --form-box-shadow-offset: 0.6em 0.6em 0;

                border-color: #9498a3;
                background-color: #121212 !important;
                color: #eeeeee !important;
                scale: 1.05;

                &::placeholder {
                    color: #cccccc;
                }
            }

            &:required:valid {
                --form-input-bg: #d2ffd2;

                box-shadow: var(--form-box-shadow-offset) #0b8d36;
            }
        }
    }

    /* small text of span on sign-up-form */
    span {
        display: block;
        font-size: 60%;
        font-weight: 200;
        text-align: center;
        width: 100%;
    }
}

/* CONTACT US */
section.contact-boards {
    display: flex;
    justify-content: space-evenly;

    .connect-box {
        width: 48%;
    }
}

/* acted-style clipboards */
section.contact-boards .contact-clipboard-flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: clamp(0.5em, 2vw, 2em);
    /* justify-content: center; */
    margin-top: 1.2em;

    &.paragraph-job {
        align-self: flex-start;
        position: sticky;
        top: 6em;
    }
}

section.contact-boards .contact-clipboard-flex > .contact-block {
    --contact-callout-transform: 2.3em;
    --contact-inquiries-padding-top: var(--contact-callout-transform);

    padding: 0.4em;

    &.clip-heading {
        align-content: center;
        background-color: var(--color-p-2);
        width: 13em;
        height: 3em;
        transform: translateY(var(--contact-callout-transform));

        h2 {
            font-size: 1.3em;
            margin: 0;
            text-align: center;
        }
    }

    &.clip-body {
        background-color: #eeeeee;
        box-shadow: 0.6em 0.6em 0 #00000058,
                    -0.6em -0.6em 0 #00000022;
        padding: var(--contact-inquiries-padding-top) 2em 2em;
        width: 17em;
        min-height: 8em;

        /* listed queries layout: <ul> */
        > ul {
            padding: 0;
        }

        > ul li.query-option {
            background-color: #c6dce0;
            box-shadow: 0.3em 0.3em 0 #000000;
            list-style: none;
            margin-block: 2em;
            
            a {
                cursor: pointer;
                display: block;
                padding: 0.6em 0.8em;
            }

            a span.icon {
                display: block;
                float: left;
                font-size: 2em;
            }

            a h3 {
                margin: 0;
                padding-left: 2.8em;
                padding-block: 0.8em 0.2em;
                border-bottom: 0.1em solid #000000;
            }

            a p {
                margin-block: 0.2em;
            }

            a:hover {
                background-color: #fafafa;
            }

        }
    }
}

/* FOOTER */
footer {
    /* footer body */
    background: var(--footer-bg);
    color: var(--footer-font-color);
    font-size: 0.8rem;
    min-height: var(--footer-height);
    padding: 1.5rem;

    * {
        color: inherit;
    }
}

footer section.footer-link-flex {
    display: flex;
    gap: var(--footer-linkdisplay-space-offset);
    justify-content: center;

    /* each section of varieties of class e.g. Quick Links */
    .linkdisplay {
        border-left: 0.1em solid #fff;
        padding-inline: var(--footer-linkdisplay-space-offset);
    }

    .linkdisplay h2 {
        font-size: 1.15em;
        margin-block: 0.1em 0.6em;
    }

    .linkdisplay ul {
        margin-block: 0.5em;
        padding: 0;

        li {
            list-style: none; /* remove bullet points */
            margin-block: 0.5em;
        }

        li a {
            font-weight: 225;
            letter-spacing: 0.08em;
            text-transform: lowercase; /* all characters to lowercase */
        }
    }
}

/* media queries */
@media only screen and (max-width: 48rem) {
    nav {
        display: none;
        position: absolute;
    }

    nav + #hamburger-menu {
        display: block;
        filter: none;
        padding: 0;
        margin: 0;
        width: 2em;
        height: 2em;
        
        > img {
            width: 2em;
            height: 2em;
            transition: filter 0.25s ease;
        }

        /* remove the effect of pseudo elements by setting content to none */
        &::before, &::after {
            content: none;
        }
    }

    .sec-card {
        width: 90vw;
        font-size: clamp(0.8rem, 3vw, 2rem);
    }

    section.proposal-card {
        grid-template-columns: none;
        grid-template-rows: repeat(2, auto);
    }

    /* subscription card */

    section.subscription-plans {
        flex-direction: column;
        gap: 3em;
    }

    section.subscription-plans #subscription-banner {
        --s-card-border-radius: 2em;
        --s-card-preferred-font-size: 3.15vw;
    
        flex-direction: column;
        gap: 2em;

        .sub-card {
            display: flex;
            min-height: 10em;
            width: auto;

            .card-plan {
                --s-card-padding: 1.7em;

                border-radius: var(--s-card-border-radius) 0 0 var(--s-card-border-radius);
                padding-inline: var(--s-card-padding);
            }
    
            ul {
                padding-inline-start: 6%;
            }
        };

        .sub-card.stacked-under {
            --s-card-offset-x-step: 0;
            --s-card-scale-step: 0;

            position: relative;
            transition: none;
        }
    }

    .middle-form-flex {
        gap: 0;
        justify-content: center;
        flex-direction: column;
    }

    footer section.footer-link-flex {
        flex-direction: column;
        flex-wrap: wrap;

        /* .linkdisplay {
        } */
    }
}